* {
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
}
header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.left nav a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.left nav a:hover {
  opacity: 0.5;
}

.logo {
  width: 130px;
  height: 80px;
 justify-content: center;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.right button {
   padding: 10px 20px; 
  
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: white;
  color: black;
  border: 1px solid black;


}

.right button:hover {
  opacity: 0.9;
}
 
.main video {
  
  width: 100%;
  max-width: 100%;
  display: block;
  overflow: hidden;
  background-color: black;
   }
html, body {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.language-dropdown {
  position: relative;
  display: inline-block;

}

.lang-btn {
  background:white;
  border: 1px solid white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.lang-btn img {
  width: 20px;
  height: 14px;
}

.lang-menu {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background: rgb(11, 11, 11);
  border: 1px solid #060404;
  border-radius: 4px;
  width: 120px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 2000;
}

.lang-menu a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
  text-decoration: none;
  color: #dbb7b7;
}

.lang-menu a img {
  width: 20px;
  height: 14px;
}

.lang-menu a:hover {
  background: #8e8181;
}

.language-dropdown:hover .lang-menu {
  display: block;
}
 .special {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 40px 0;


 
  font-family: 'Courier New', Courier, monospace;
    }
    .special h1 {
      text-align: center;
      justify-content: center;
      font-weight: 100;
      color: #976107;
   
    }
    .para {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
    padding: 10px 0;}

   .c {
     display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0;
  color: #976107;
  
   }
   .horizontal-gallery {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  padding: 30px;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.horizontal-gallery::-webkit-scrollbar {
  display: none;
}


.horizontal-gallery::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.gallery-item {
  display: inline-block;
  width: 450px;
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease; 
}
.gallery-item img:hover {
  transform: scale(1.1);   
}

.gallery-item p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.row-half {
  display: flex;
  width: 100%;
}

.box {
  flex: 0 0 50%;     
  padding: 10px;
  box-sizing: border-box;
  color:#f8f6f3 ;
  
}
.box img {
  max-width: 100%;
  height: auto;
  display: block;
}



 .box.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; 
   padding: 0;  
 } 
 .box.right img {
  max-width: 100%;
  height: auto;
} 
 .box.right {
  height: 60%;
}
.horizontal-event {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 30px;
}

.event-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 450px;
}

.event-item img {
  width: 100%;
  display: block;
  transition: transform 0.4s ease;
}

.event-item:hover img {
  transform: scale(1.1);
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 28px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.4s ease;
  text-shadow: 0 4px 8px rgba(0,0,0,0.7);
}

.event-item:hover .image-text {
  opacity: 1;
}
.sub {
  text-align: center;
  color: #976107;
  padding: 10px;
  margin: 10px;
}
.first {
  text-align: center;
  color: #976107;
  padding: 10px;
  margin: 10px;
}
.second {
  text-align: center;
  color: black;
  padding: 10px;
  margin: 10px;
}
.offer {
  text-align: center;
  color: #976107;
}
.horizontal-offer {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  padding: 30px;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.horizontal-offer::-webkit-scrollbar {
  display: none;
}


.horizontal-offer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.offer-item {
  display: inline-block;
  width: 450px;
  text-align: center;
}

.offer-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease; 
}
.offer-item img:hover {
  transform: scale(1.1);   
}

.offer-item p {
  margin-top: 10px;
  font-size: 16px;
  color:#060404 ;
}
.offer-item h3 {
  color: #976107;
}
.gallery-item h3 {
  color: #976107;
}

.joy{
  text-align: center;
  color: #976107;
}
.logo-box {
  width: 100%;          
  height: 300px;          
  background: #f9f9f9;  
  border-radius: 10px;   
  display: flex;
  justify-content: center;
  align-items: center;     
  margin: 20px auto;       
}

.logo-box img {
  width: 180px;   
  height: auto;
}
.logo-box {
  /* border-top: 2px solid #c1974f;
  border-bottom: 2px solid #ddaf5e; */
  border:#ccc ;
  border-radius: 10px;
   background: #f9f9f9;
}
.footer-links {
  display: flex;
  gap: 25px;     
  justify-content: center;
  flex-wrap: wrap;   
}
.footer-links a {
  text-decoration: none;
  color: black;
  font-size: 20px;
 
}
.fit-box {
    border-top: #c1974f;
  border-bottom: #c1974f;
   margin: 25px;
  padding: 25px;

}
.quick-box {
  width: 100%;
  margin: 40px auto;       
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
   background: #f9f9f9; 
 
}


.quick-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
}

.quick-title::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #c1974f;
  position: absolute;
  left: 0;
  bottom: -10px;   
  opacity: 0.3;
}


.quick-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px 20px;
  text-align: left;
}

.quick-links a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.quick-links a:hover {
  text-decoration: underline;
}
.ff {
  width: 100%;
  height: 40px;
  background-color: #e8e5e2;
}
.ff footer {
  text-align: center;
  padding: 10px;
}
.fit-box {
  width: 100%;
  height: 100px;
  background-color: #e8e5e2;
}
